@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>Here at Trash Collectors we pride ourselves on hard work and excellent customer service.</h3>

<p>Trash Collectors is a company spread out across 18 Chicagoland counties.  </p>
