@{
    ViewBag.Title = "Contact US";
}

<h3><strong>@ViewBag.Message</strong></h3>

<address>
    9405 Burt St.<br />
    Milwaukee, WWI 53140-6399<br />
    <abbr title="Phone">P:</abbr>
    414.555.1000
</address>

<address>
    <strong>Customer Service Email:</strong>   <a href="mailto:ContactUs@TrashCollectors.com">ContactUs@TrashCollectors.com</a><br />
</address>