@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Scheduling trash pickups right at your fininger tips!</p>
</div>


@*<div class="card">
  <div class="card-body">
    <h4 class="card-title">Customers</h4>
    <p class="card-text">
        Here at Trash Collectors we make it as simple 
        as possible <br/> to schedule, suspend and monitor 
        your trash pick ups. <br/> We pride ourselves on hard 
        work and excellent customer service. 
    </p>
    <a href="#!" class="card-link">Sign Up</a>
    <a href="#!" class="card-link">Log In</a>
  </div>
</div>*@



<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>
            Here at Trash Collectors we make it as simple as possible to schedule, suspend and monitor your trash pick ups.
           
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Create an Account</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>At Trash Collectors we offer great benifit packages and competitive wages. You also have access to you daily trash pick ups all online!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Log In</a></p>

    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>Here at Trash Collectors we pride ourselves on hard work and excellent customer service! We believe that everything should be as efficient  as possible. </p>
    </div>
</div>