
@{
    ViewBag.Title = "PickedUp";
}

<h2>Keep Up The Good Work!</h2>

<h4>Click the link below to be directed back to today's scheduled pick ups.</h4>

@Html.ActionLink("Return To Today's Scheduled Pick Ups", "Work")